.wrapper{
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    
}
.child-1{
    width: 100%;
    background: lavender;
    
}
.child-2{
    width: 10px;
    
}
span{
    font-size: 14px;
}
.link{
    color: black;
    text-decoration: none;
}